.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.contact-list{
    background: #ddd;
    padding: 10px;
    display: flex;
    min-height: 100px;
    font-size: 1.5rem;
    line-height: 2;
    font-family: $font-family-cardo;

    &__desc{
        flex: 4;
        display: grid;
        grid-template-columns: 1fr 11fr;

        p{
            font-family: $font-family-montserrat;
            font-size: 1rem;
        }

        h3{
            width: max-content;
            cursor: pointer;
            &:hover{
                color: red;
            }
        }
    }

    &__action{
        flex: 1;
        text-align: right;
        position: relative;

         span{
            font-family: $font-family-montserrat;
            font-size: 1rem;
        }

        button{
            position: absolute;
            bottom: 0;
            right: 0;
            background: aqua;
            color: #666;
        }
    }
}

@media only screen and (max-width: 1080px ) {
    .contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}

@media only screen and (max-width: $bp-small ) {
    .contact{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}